# Gatsby
.cache/
public
static/admin/*.bundle.*
.gatsby-metadata.json

# Image processing
.cache/caches/gatsby-plugin-sharp/
.cache/caches/gatsby-transformer-sharp/

# Mac files
.DS_Store

# Dependencies
/node_modules

# Build files
.env.*

# IDE
.idea/
.vscode/
*.sublime-*

# Logs
logs
*.log

# Testing
coverage/
.nyc_output/

# Temp files
.tmp/
.temp/