/* Lists
/* ---------------------------------------------------------- */

ul,
ol {
    margin: 0 0 var(--margin) 0;
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol {
    margin: 0.5em 0 1em;
}

ul ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--color-base);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

/* 添加响应式支持 */
@media (max-width: 600px) {
    dt {
        float: none;
        width: auto;
        text-align: left;
    }
}